.header-container{
    display:flex;
    justify-content: space-between;
    margin:10px;

}
.nav-items{
    display: flex;
    list-style-type: none;
   
}
.nav-items>li{
    padding:1em;
}
.logo{
    height: 7rem;
    width: 163px;
   
}
